.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.crontab.widget label {
  display: block;
  margin-bottom: 1em;
  text-align: left;
}
.crontab.widget button.edit {
  float: right;
  margin-bottom: 0.5em;
}
.crontab.widget button.edit.active {
  background-color: lightgreen;
  color: white;
}
.crontab.widget button.edit span {
  margin-right: 0.2em;
}
.crontab.widget .editarea {
  display: none;
}
.crontab.widget .editarea .active {
  background-color: orange;
}
.crontab.widget .editcontainer::after {
  content: "";
  display: table;
  clear: both;
}
.crontab.widget .editcontainer button {
  display: block;
  vertical-align: top;
  float: left;
}
.crontab.widget .editcontainer button:last-child::after {
  clear: both;
}
.crontab.widget .minute .editcontainer button {
  width: 3em;
}
.crontab.widget .minute .editcontainer button:nth-child(11),
.crontab.widget .minute .editcontainer button:nth-child(21),
.crontab.widget .minute .editcontainer button:nth-child(31),
.crontab.widget .minute .editcontainer button:nth-child(41),
.crontab.widget .minute .editcontainer button:nth-child(51) {
  clear: left;
}
.crontab.widget .hour .editcontainer button {
  width: 3em;
}
.crontab.widget .hour .editcontainer button:nth-child(13) {
  clear: left;
}
.crontab.widget .dow .editcontainer button {
  width: 3em;
}
.crontab.widget .dom .editcontainer button {
  width: 3em;
}
.crontab.widget .dom .editcontainer button:nth-child(11),
.crontab.widget .dom .editcontainer button:nth-child(21),
.crontab.widget .dom .editcontainer button:nth-child(31) {
  clear: left;
}
.crontab.widget .month .editcontainer button {
  width: 3em;
}
